# Ambiente virtual
venv/
.env

# Arquivos de cache do Python
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook
.ipynb_checkpoints

# Arquivos de distribuição
dist/
build/
*.egg-info/

# Arquivos de ambiente local
.env
.venv
env/
ENV/

# IDE
.vscode/
.idea/